body
{
  background-color:black;
  margin-left:5em;
  margin-right:5em;
  padding: 10px
}
h1{
color:red;
}
p{
  color: white;
  line-height: 2em;
}
ul{
color:yellow;
line-height: 3em;
}
td{
padding : 10px;
}
a{
color:yellow;
}
a:hover
{
color:red;
}
